version: 2.1
jobs:   
  build-package:
    docker:
      - image: cimg/openjdk:11.0
    # working_directory: ~/Micro_Service_Postgres
    steps:
      - checkout
      - run:
          name: Build Contact Service
          command: |
            cd Micro_Service_Postgres/contact_service; 
            mvn clean package;
            ls;
            ls -R | grep .jar;
            pwd;
      - run:
          name: Build User Service
          command: |
            cd Micro_Service_Postgres/user_service; 
            mvn clean package;  
            ls;
            ls -R | grep .jar;
            pwd;
      - run:
          name: Docker Login
          command: |
          command: docker login -u anil76201 -p Anil@0108
          
 

     

  test-job: # this is to run devops test commands like ls pwd or same type  
    docker:
      - image: cimg/openjdk:11.0
    steps:
        - run:
            command: |
              pwd;
              ls;




workflows:
  lincker: 
    jobs:
      - build-package
      - build-package
      - test-job
