name: CI/CD Pipeline
on:
  #Manually trigger workflow runs
  workflow_dispatch:
  #Trigger the workflow on push from the main branch
  push:
    branches:
      - master



jobs:

  setup:
    name: Pre Setup
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build with Maven
        run: mvn --version
      - name: current folder
        run: ls
  build: 
    name: Build
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Folder
        run: ls




