name: CI/CD Pipeline
on:
  #Manually trigger workflow runs
  workflow_dispatch:
  #Trigger the workflow on push from the main branch
  push:
    branches:
      - master

jobs:

  test:
    name: Unit Test
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
      - name: Set up JDK 17   
        with:
         distribution: 'temurin' # See 'Supported distributions' for available options
         java-version: '17'
         

      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.2.1
        with:
          java-version: 8

#       - name: Testing 
#       - uses: actions/checkout@v1
#       - run: |
#          - ls
#          - echo "current directory is"
#          - pwd

      - name: Build with Maven
        run: mvn verify
